extends ../layout

block content

  .page-header
    h3 Log In
    
  form(method='POST', name="login" action="/login")
    input(type='hidden', name='_csrf', value=_csrf)
    .col-sm-8.col-sm-offset-2
      .form-group
        label.control-label(for='cell') Cell Number
        input.form-control(type='cell', name='cell', id='cell', placeholder='Cell Number', autofocus=true)
      .form-group
        label.control-label(for='password') Password
        input.form-control(type='password', name='password', id='password', placeholder='Password')
      .form-group
        button.btn.btn-primary(type='submit') Login
        a.btn.btn-link(href='/forgot') Forgot your password?
