extends ../layout

block content
  .page-header
    h3 Register

  form(id='signup-form', action="/signup" method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .col-sm-8.col-sm-offset-2
      .form-group
        label.control-label(for='name') Name
        input.form-control(type='text', name='name', id='name', placeholder='Name', required="", autofocus)
      
      .form-group  
        label.control-label(for='cell') Cell Number
        input.form-control(type='text', name='cell', id='cell', placeholder='Cell Number', required="")
      
      .form-group 
        label.control-label(for='complex') Where do you stay?
        select.form-control(name='complex', id='complex', required="")
          option Select
            
          for complex in complexs
            option(value='#{complex.id}') #{complex.name}    
      
      .form-group
        label.control-label(for='password') Password
        input.form-control(type='password', name='password', id='password', required="", placeholder='Password')
      
      .form-group
        label.control-label(for='confirmPassword') Confirm Password
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', required="", placeholder='Confirm Password')

      .form-group
        label.radio-inline
          input(type='radio', name='isLandlord', id='inlineRadio1', value='false') 
          strong Tenant
        label.radio-inline
          input(type='radio', name='isLandlord', id='inlineRadio2', value='true') 
          strong Landlord

      .form-group
        button.btn.btn-success(type='submit')
          span.ion-person-add
          | Register
