footer
  .container.text-center
    p.pull-left 
      | © 2015 - Raging Flame 

    ul.pull-right.list-inline
      if !user
        li(class=title=='Signup'?'active':undefined)
          a(href='/signup') 
            span.ion-person-add
            | Register
      else
        li
          a(href="tel:+27632220269") 
            span.ion-android-call
            | Call Us
        li.divider |
        li
          a(href='/logout')
            span.ion-log-out
            | Logout