extends layout

block content
  p Use the red button to open the gate remotely and the other one to open by buzzing our number.

  button.btn.btn-danger.btn-large.btn-block(id='openGate')
    h1
      span.ion-radio-waves
      | Open Gate

  p(style='text-align:center; margin-top: 5px;') - OR - 

  a.btn.btn-success.btn-large.btn-block(href='tel:+27632220269')
    h1
      span.ion-android-call
      | Buzz Gate

  != js('home')