extends layout

block content

  button.btn.btn-danger.btn-large.btn-block
    h1
      span.ion-radio-waves
      | Open Gate

  p(style='text-align:center; margin-top: 5px;') - OR - 

  a.btn.btn-success.btn-large.btn-block(href='tel:+27632220269')
    h1
      span.ion-android-call
      | Buzz Me